backend/credentials.json
backend/.env
frontend/.env
frontend/static/js/firebase-config.js

# Python
__pycache__/
*.pyc
*.pyo
*.env

# Entorno de desarrollo
.vscode/

# Archivos sensibles
*.key
*.pem

# Virtual Environment
.venv/
venv/
env/

# Database
*.sqlite
*.db

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Dependencies
node_modules/
package-lock.json

# Coverage reports
htmlcov/
.coverage